<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#{{conversation.id}}">
          {{conversation.nick}}&nbsp;-&nbsp;{{conversation.date}}
        </a>
      </h4>
    </div>
    <div id="{{conversation.id}}" class="panel-collapse collapse in">
      <div class="panel-body">
      	 <ul class="timeline" id="{{conversation.id}}">
            {% include 'mensaje.twig.html' with {'mensaje':mensajes[0], 'button':1} %}
            {% if mensajes|length > 1%}
        			{% for i in 1..mensajes|length - 1 %}
        				{% include 'mensaje.twig.html' with {'mensaje':mensajes[i], 'button':0} %}
        			{% endfor %}
            {% endif %}
      	 </ul>
      </div>
    </div>
  </div>
 </div>