{% extends "layout_.twig.html" %}

{% block content %}
<div class="container" style="margin-top:50px;padding-top:15px;background-color:rgba(255,255,255,0.5);">
	<div class="row">
		<div class="col-md-8">
			<div style="margin-bottom:1em;"><h1 style="display:inline;">{{ ruffle.getTitle }}</h1>{% block adminSorteo %}{% endblock %}</div>
			
			<div id="carousel-descripcion-sorteo" class="carousel slide">
				<!-- Indicators -->
				<ol class="carousel-indicators">
				{% if ruffle.getPicture1 is not empty %}
				<li data-target="#carousel-descripcion-sorteo" data-slide-to="0" class="active"></li>
				{% endif %}
				{% if ruffle.getPicture2 is not empty %}
				<li data-target="#carousel-descripcion-sorteo" data-slide-to="1"></li>
				{% endif %}
				{% if ruffle.getPicture3 is not empty %}
				<li data-target="#carousel-descripcion-sorteo" data-slide-to="2"></li>
				{% endif %}
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
				{% if ruffle.getPicture1 is not empty %}
				<div class="item active">
				  <img src="{{ app.request.basepath }}{{ruffle.getPicture1}}" alt="">
				</div>
				{% endif %}
				{% if ruffle.getPicture2 is not empty %}
				<div class="item">
				  <img src="{{ app.request.basepath }}{{ruffle.getPicture2}}" alt="">
				</div>
				{% endif %}
				{% if ruffle.getPicture3 is not empty %}
				<div class="item">
				  <img src="{{ app.request.basepath }}{{ruffle.getPicture3}}" alt="">
				</div>
				{% endif %}
				
				
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-descripcion-sorteo" data-slide="prev">
				<span class="icon-prev"></span>
				</a>
				<a class="right carousel-control" href="#carousel-descripcion-sorteo" data-slide="next">
				<span class="icon-next"></span>
				</a>
				</div>

			<div class="panel panel-default panel-body"> {{ ruffle.getDescription }} </div>
			{% include 'rating.twig.html' with {'userSorteo':userSorteo} %}
		</div>
			
  
	
		<div class="col-md-4">
			<div class="panel panel-default panel-body">
				<div class="row">
					<span class="btn-lg label label-success pull-right" style="padding:10px">Quedan {{ruffle.getBallots-ruffle.getSoldBallots}} tickets</span>
					{%  if  (date(ruffle.getFinalDate) < date()) %}
					<span class="btn-lg label label-primary pull-right" style="padding:10px"> Finalizado </span>
					{% else %}
					<span class="btn-lg label label-primary pull-right" style="padding:10px">{{ ruffle.getFinalDate|date("d/m/y") - "now"|date("d/m/y")  }} dias para finalizar</span>
					{% endif %}
				</div>

				<h2><strong>{{ ruffle.getPrice / ruffle.getBallots }} €</strong></h2>
				<p class="text-muted">premio valorado en {{ ruffle.getPrice }}€</p>
				
				

				<h2>Elige tus números:</h2>

<div class="table-responsive" style="padding-top:10px; widht:100%;">
				  <table class="table">
					<tr>
					{% set arrayBallots = ruffle.getArrayBallots %}
					{%  if  (date(ruffle.getFinalDate) < date()) %}
						{% for i in 0..ruffle.getBallots-1 %}
							{% if (i % 10)==0 %}
								</tr>
								<tr>
					  		{% endif %}
					  		{% if i in arrayBallots %}
					  			<td><span class="tabla btn btn-danger disabled">{{ i }}</span></td>
					  		{% else %}
					  			<td><span name="papeleta" class="tabla btn btn-primary disabled">{{ i }}</span></td>
					  		{% endif %}
					    {% endfor %}
					{% else %}
				  	{% for i in 0..ruffle.getBallots-1 %}
						{% if (i % 10)==0 %}
							</tr>
							<tr>
				  		{% endif %}
				  		{% if i in arrayBallots %}
				  			<td><span class="tabla btn btn-danger disabled">{{ i }}</span></td>
				  		{% else %}
				  			<td><span name="papeleta" class="tabla btn btn-primary">{{ i }}</span></td>
				  		{% endif %}
				    {% endfor %}
				    {% endif %}
					</tr>
					
				  </table>
				</div>

								<button type="button" class="demo-confirm btn btn-success btn-block" id="buy" disabled>Comprar ticket</button>

								<p class="text-muted"></p>
				{%  if  (date(ruffle.getFinalDate) < date()) %}
				<h2>Sorteo terminado</h2>
				{% else %}
				<span id="noSeconds" class="countdown"></span>
				{% endif %}

				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>

		</div>
	</div>
</div>


<form style="display: hidden" action="{{ path('buyTicket') }}" method="POST" id="form">
  <input type="hidden" id="RuffleID" name="RuffleID" value="{{ruffle.getId}}"/>
  <input type="hidden" id="number" name="number" value=""/>
  <input type="hidden" id="RuffleName" name="name" value="{{ruffle.getTitle}}"/>
</form>

<script type="text/javascript" >
	$(document).ready(function() {        
		$('.carousel').carousel()
	});
</script>  
<script src="{{ app.request.basepath }}/js/jquery.countdown.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ app.request.basepath }}/js/jquery.countdown-es.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="{{ app.request.basepath }}/css/vex-theme-default.css">
<link rel="stylesheet" href="{{ app.request.basepath }}/css/vex.css">
<script src="{{ app.request.basepath }}/js/vex.js"></script>
<script src="{{ app.request.basepath }}/js/vex.dialog.js"></script>
<script type="text/javascript">

$(function () {
	var austDay = new Date();
	austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
	$('#year').text(austDay.getFullYear());
	$('#noSeconds').countdown({until: austDay, format: 'dHMs'});
});

$('.demo-confirm').click(function(){
    vex.dialog.confirm({
        message: '¡Estás a un sólo paso de comprar la/s papeleta/s!. ¿Quieres confirmar la compra?',
        className: 'vex-theme-default',
        callback: function(value) {
        	if(value==true){
        		$("#form").submit();;
        	}
        }
    });
});

</script>
<!-- Tiempo restante -->
<script type="text/javascript">
	$(function () {
		var austDay = new Date();
		austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
		$('#year').text(austDay.getFullYear());
		$('#noSeconds').countdown({until: austDay, format: 'dHMs'});
	});
</script>
<!-- Marcado de papeletas -->
<script type="text/javascript">
	$("[name='papeleta']").on("click",function(){  
		$("[name='papeleta']").removeClass('btn-success');
		$(this).addClass('btn-success');
		$("#number").val($(this).html());
		$("#buy").removeAttr('disabled');
	});
</script>

{% endblock %}