{% extends "layout_.twig.html" %}

{% block content %}
<div class="container" style="margin-top:65px;">
	<div class="row">
		<div class="col-md-8">
			<h1>Nombre del Sorteo</h1>
			<div id="carousel-descripcion-sorteo" class="carousel slide">
				<!-- Indicators -->
				<ol class="carousel-indicators">
				<li data-target="#carousel-descripcion-sorteo" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-descripcion-sorteo" data-slide-to="1"></li>
				<li data-target="#carousel-descripcion-sorteo" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
				<div class="item active">
				  <img src="{{ app.request.basepath }}/img/nexus1.jpg" alt="">
				</div>
				<div class="item">
				  <img src="{{ app.request.basepath }}/img/nexus1.jpg" alt="">
				</div>
				<div class="item">
				  <img src="{{ app.request.basepath }}/img/nexus1.jpg" alt="">
				</div>
				
				
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-descripcion-sorteo" data-slide="prev">
				<span class="icon-prev"></span>
				</a>
				<a class="right carousel-control" href="#carousel-descripcion-sorteo" data-slide="next">
				<span class="icon-next"></span>
				</a>
				</div>

			<div class="panel panel-default panel-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			
				  </div>
				  
		</div>
			
  
	
		<div class="col-md-4">
			<div class="panel panel-default panel-body">
				<div class="row">
					<span class="btn-lg label label-success pull-right" style="padding:10px">Quedan 16 tickets</span>
					<span class="btn-lg label label-primary pull-right" style="padding:10px">30 dias para finalizar</span>
				</div>

				<h2><strong>2 €</strong></h2>
				<p class="text-muted">premio valorado en 200€</p>
				
				

				<h2>Elige tus números:</h2>

<div class="table-responsive" style="padding-top:10px; widht:100%;">
				  <table class="table">
					<tr>
						<td><span class="tabla btn btn-danger disabled">0</span></td>
						<td><span class="tabla btn btn-danger disabled">1</span></td>    
						<td><span class="tabla btn btn-danger disabled">2</span></td>    
						<td><span class="tabla btn btn-danger disabled">3</span></td>    
						<td><span class="tabla btn btn-danger disabled">4</span></td>    
						<td><span class="tabla btn btn-danger disabled">5</span></td>    
						<td><span class="tabla btn btn-danger disabled">6</span></td>    
						<td><span class="tabla btn btn-danger disabled">7</span></td>    
						<td><span class="tabla btn btn-danger disabled">8</span></td>
						<td><span class="tabla btn btn-danger disabled">9</span></td>
					</tr>
					<tr>
						<td><span class="tabla btn btn-danger disabled">10</span></td>	
						<td><span class="tabla btn btn-danger disabled">11</span></td>	    
						<td><span class="tabla btn btn-success">12</span></td>	    
						<td><span class="tabla btn btn-success">13</span></td>	    
						<td><span class="tabla btn btn-success">14</span></td>	    
						<td><span class="tabla btn btn-success">15</span></td>	    
						<td><span class="tabla btn btn-success">16</span></td>	    
						<td><span class="tabla btn btn-danger disabled">17</span></td>	    
						<td><span class="tabla btn btn-danger disabled">18</span></td>	
						<td><span class="tabla btn btn-danger disabled">19</span></td>	
					</tr>
					<tr>
						<td><span class="tabla btn btn-danger disabled">20</span></td>	
						<td><span class="tabla btn btn-danger disabled">21</span></td>	    
						<td><span class="tabla btn btn-danger disabled">22</span></td>	    
						<td><span class="tabla btn btn-danger disabled">23</span></td>	    
						<td><span class="tabla btn btn-danger disabled">24</span></td>	    
						<td><span class="tabla btn btn-danger disabled">25</span></td>	    
						<td><span class="tabla btn btn-danger disabled">26</span></td>	    
						<td><span class="tabla btn btn-danger disabled">27</span></td>	    
						<td><span class="tabla btn btn-danger disabled">28</span></td>	
						<td><span class="tabla btn btn-danger disabled">29</span></td>	
					</tr>
					<tr>
						<td><span class="tabla btn btn-danger disabled">30</span></td>	
						<td><span class="tabla btn btn-danger disabled">31</span></td>	    
						<td><span class="tabla btn btn-primary">32</span></td>	    
						<td><span class="tabla btn btn-primary">33</span></td>	    
						<td><span class="tabla btn btn-primary">34</span></td>	    
						<td><span class="tabla btn btn-danger disabled">35</span></td>	    
						<td><span class="tabla btn btn-danger disabled">36</span></td>	    
						<td><span class="tabla btn btn-danger disabled">37</span></td>	    
						<td><span class="tabla btn btn-danger disabled">38</span></td>	
						<td><span class="tabla btn btn-danger disabled">39</span></td>	
					</tr>
					<tr>
						<td><span class="tabla btn btn-primary">40</span></td>	
						<td><span class="tabla btn btn-primary">41</span></td>	    
						<td><span class="tabla btn btn-primary">42</span></td>	    
						<td><span class="tabla btn btn-primary">43</span></td>	    
						<td><span class="tabla btn btn-primary">44</span></td>	    
						<td><span class="tabla btn btn-primary">45</span></td>	    
						<td><span class="tabla btn btn-primary">46</span></td>	    
						<td><span class="tabla btn btn-primary">47</span></td>	    
						<td><span class="tabla btn btn-primary">48</span></td>	
						<td><span class="tabla btn btn-primary">49</span></td>	
					</tr>
					<tr>
						<td><span class="tabla btn btn-danger disabled">50</span></td>	
						<td><span class="tabla btn btn-danger disabled">51</span></td>	    
						<td><span class="tabla btn btn-danger disabled">52</span></td>	    
						<td><span class="tabla btn btn-danger disabled">53</span></td>	    
						<td><span class="tabla btn btn-danger disabled">54</span></td>	    
						<td><span class="tabla btn btn-danger disabled">55</span></td>	    
						<td><span class="tabla btn btn-danger disabled">56</span></td>	    
						<td><span class="tabla btn btn-danger disabled">57</span></td>	    
						<td><span class="tabla btn btn-danger disabled">58</span></td>	
						<td><span class="tabla btn btn-danger disabled">59</span></td>	
					</tr>
					<tr>
						<td><span class="tabla btn btn-primary">60</span></td>	
						<td><span class="tabla btn btn-primary">61</span></td>	    
						<td><span class="tabla btn btn-primary">62</span></td>	    
						<td><span class="tabla btn btn-primary">63</span></td>	    
						<td><span class="tabla btn btn-primary">64</span></td>	    
						<td><span class="tabla btn btn-primary">65</span></td>	    
						<td><span class="tabla btn btn-primary">66</span></td>	    
						<td><span class="tabla btn btn-primary">67</span></td>	    
						<td><span class="tabla btn btn-primary">68</span></td>	
						<td><span class="tabla btn btn-primary">69</span></td>	
					</tr>
					<tr>
						<td><span class="tabla btn btn-danger disabled">70</span></td>	
						<td><span class="tabla btn btn-danger disabled">71</span></td>	    
						<td><span class="tabla btn btn-danger disabled">72</span></td>	    
						<td><span class="tabla btn btn-danger disabled">73</span></td>	    
						<td><span class="tabla btn btn-danger disabled">74</span></td>	    
						<td><span class="tabla btn btn-danger disabled">75</span></td>	    
						<td><span class="tabla btn btn-danger disabled">76</span></td>	    
						<td><span class="tabla btn btn-danger disabled">77</span></td>	    
						<td><span class="tabla btn btn-danger disabled">78</span></td>	
						<td><span class="tabla btn btn-danger disabled">79</span></td>	
					</tr>
					<tr>
						<td><span class="tabla btn btn-primary">80</span></td>	
						<td><span class="tabla btn btn-primary">81</span></td>	    
						<td><span class="tabla btn btn-primary">82</span></td>	    
						<td><span class="tabla btn btn-primary">83</span></td>	    
						<td><span class="tabla btn btn-primary">84</span></td>	    
						<td><span class="tabla btn btn-primary">85</span></td>	    
						<td><span class="tabla btn btn-primary">86</span></td>	    
						<td><span class="tabla btn btn-primary">87</span></td>	    
						<td><span class="tabla btn btn-primary">88</span></td>	
						<td><span class="tabla btn btn-primary">89</span></td>	
					</tr>
					<tr>
						<td><span class="tabla btn btn-primary">90</span></td>	
						<td><span class="tabla btn btn-primary">91</span></td>	    
						<td><span class="tabla btn btn-primary">92</span></td>	    
						<td><span class="tabla btn btn-primary">93</span></td>	    
						<td><span class="tabla btn btn-primary">94</span></td>	    
						<td><span class="tabla btn btn-primary">95</span></td>	    
						<td><span class="tabla btn btn-primary">96</span></td>	    
						<td><span class="tabla btn btn-primary">97</span></td>	    
						<td><span class="tabla btn btn-primary">98</span></td>	
						<td><span class="tabla btn btn-primary">99</span></td>	
					</tr>
				  </table>
				</div>

								<button type="button" class="btn btn-success btn-block">Comprar ticket</button>

								<p class="text-muted"></p>
				<span id="noSeconds" class="countdown"></span>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>

		</div>
	</div>
</div>
<script type="text/javascript" >
            $(document).ready(function() {        
        $('.carousel').carousel()
            });
</script>  
<script src="{{ app.request.basepath }}/js/jquery.countdown.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ app.request.basepath }}/js/jquery.countdown-es.js" type="text/javascript" charset="utf-8"></script>
    </script>
    <script type="text/javascript">
$(function () {
	var austDay = new Date();
	austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
	$('#year').text(austDay.getFullYear());
	$('#noSeconds').countdown({until: austDay, format: 'dHMs'});
});
</script>
{% endblock %}