<div class="col-sm-4 col-md-4">
    <div class="thumbnail">
    	<div class="panel-body">
        <h3>{{ ruffle.getTitle }}</h3>
      		<img src="{{ app.request.basepath }}{{ ruffle.getPicture1 }}" alt="..." style="width: 100%; max-height: 225px; border:2px solid gray;">
          {% if menu_selected == 'index' %}
          <div class="progress progress-striped active">
            <span>Quedan {{ ruffle.getBallots-ruffle.getSoldBallots }} papeletas</span>
            <div class="progress-bar progress-bar-success" role="progressbar" style="width: {% if ruffle.getBallots < 11 %}{{ ruffle.getSoldBallots * 10 }}{% else %}{{ ruffle.getSoldBallots }}{% endif %}%">
              
          </div>
          {% else %}
          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 100%">
          </div>
          {% endif %}
          </div>
 
        
        <p>{{ ruffle.getShortDescription }}</p>
        <p><a href="{{ path('descripcion', {'id': ruffle.getId, 'title': ruffle.getTitle}) }}" class="btn btn-primary" role="button">Quiero saber más</a> </p>
        </div>  
      
        <div class="panel-footer">
        <span class="glyphicon glyphicon-time" style="margin-right:20%;"></span>{% if menu_selected == 'index' %} Quedan {{ ruffle.getFinalDate|date("d/m/y") - "now"|date("d/m/y")  }} dias 
        {% else %}
        El sorteo ha finalizado
        {% endif %}
        
        </div>
      
    </div>
  </div>