<div class="container footer" style="padding:15px 0px 15px; background-color: rgba(34,34,34,1);">
    <div class="col-md-12 row" style="margin-left: auto; margin-right: auto;">
		<ul class="nav navbar-nav">
		  	<li><a href="#">Enabled link</a></li>
		  	<li><a href="#">Enabled link</a></li>
		  	<li><a href="#">Enabled link</a></li>
		  	<li><a href="#">Enabled link</a></li>
		  	<li><a href="#">Enabled link</a></li>
		  	<li><a href="#">Enabled link</a></li>
		  	<li><a href="#">Enabled link</a></li>
		  	<li><a href="#">Enabled link</a></li>
		</ul>
	</div>
</div>