{% extends "layout_.twig.html" %}

{% block content %}
<div class="container" style="margin-top:50px; padding-top:15px; background-color: rgba(255,255,255,0.5);">
    <div class="col-md-12 row" style="margin-left: auto; margin-right: auto;">

  {% for ruffle in ruffles %}

  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
    	<div class="panel-body">
        <div style="height:50px;"><h3>{{ ruffle.getTitle }}</h3></div>
        
      		<img src="{{ ruffle.getPicture1 }}" alt="..." style="width: 100%; max-height: 225px; border:2px solid gray;">
          {% if menu_selected == 'index' %}
          <div class="progress progress-striped active">
            <span>Quedan {{ ruffle.getBallots-ruffle.getSoldBallots }} papeletas</span>
            <div class="progress-bar progress-bar-success" role="progressbar" style="width: {% if ruffle.getBallots < 11 %}{{ ruffle.getSoldBallots * 10 }}{% else %}{{ ruffle.getSoldBallots }}{% endif %}%">
              
          </div>
          {% else %}
          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 100%">
          </div>
          {% endif %}
          </div>
 
        <div style="height:80px;">
          <p>{{ ruffle.getShortDescription }}</p>
        </div>
        <p><a href="{{ path('descripcion', {'id': ruffle.getId, 'title': ruffle.getTitle}) }}" class="btn btn-primary" role="button">Quiero saber más</a> </p>
        </div>  
      
        <div class="panel-footer">
        <span class="glyphicon glyphicon-time" style="margin-right:20%;"></span>{% if menu_selected == 'index' %} Quedan {{ ruffle.getFinalDate|date("d/m/y") - "now"|date("d/m/y")  }} dias 
        {% else %}
        El sorteo ha finalizado
        {% endif %}
        
        </div>
      </div>
    </div>



  {% endfor %}
      </div>
  </div>
{% include "footer.twig.html"%}
{% endblock %}