<!DOCTYPE html>
<html>
  <head>
    <title>{% block title '' %} - Sorteos</title>

    <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <link href="{{ app.request.basepath }}/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      header {margin-bottom: 100px;}
      .table > tbody > tr > td{padding:4px;}
      .carousel-inner { text-align: center;}
      .carousel .item > img { display: inline-block; height: 400px;max-height: 400px;}
      .pull-right { margin-right: 2px;}
      .label {}
      .tabla.btn{padding:1px 4px;}
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{path('index')}}" class="navbar-brand">Sortilandia</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li {% if menu_selected|default('index') == 'index' %} class="active"{% endif %}>
              <a href="{{path('index')}}">Sorteos disponibles</a>
            </li>
            <li {% if menu_selected == 'sorteosTerminados' %} class="active"{% endif %}>
              <a href="{{path('sorteosTerminados')}}">Sorteos Terminados</a>
            </li>
            <li {% if menu_selected == 'nuevoSorteo' %} class="active"{% endif %}>
              <a href="{{path('nuevoSorteo')}}">Sortea algo</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
              <li class="dropdown dropdown-large">
                <a href="{%if notifications|length == 0%}{{ app.url_generator.generate('index') }}{% else %}#{% endif %}" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span>  <span class="badge">{{notifications|length}}</span></a>

                <ul class="dropdown-menu dropdown-menu-large row">
                  <li class="col-sm-12">
                    <ul>
                      <li class="dropdown-header">Notificaciones</li>
                      {%for notification in notifications%}
                      <li><a href="{{ app.request.basepath }}{{notification.url}}">{{notification.text}} | {{notification.time}}</a></li>
                      {%else%}
                      No tiene notificaciones nuevas
                      {%endfor%}

                      <div style="width:60%;margin:0 auto;">
                      <button style="width:auto;margin:0 auto;" class="btn btn-info" onclick="location.href='{{app.request.basepath}}/login';">Ver antiguas</button></div>
                    </ul>
                  </li>
                </ul>

                {% if is_granted('ROLE_ADMIN') %}
                  <li>
                  <a href="{{path('admin')}}">Administración</a>
                  </li>
                {% endif %}
            </li>
              <li {% if menu_selected == 'perfil' %} class="active"{% endif %}>
                <a style="padding:4px 0px" href="{{path('perfil')}}"><img class="img-circle" src="{{ app.request.basepath }}/img/Alien1.bmp" alt="Imagen de perfil" style="width: 3em; height: 3em; border:2px solid gray;"><span style="padding:11px">{% if is_granted('IS_AUTHENTICATED_FULLY') %}  Perfil de {{user.getNick}} {% else %} Perfil {% endif %}</span></a>
              </li>
              <li>
                <a href="{{path('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesi&oacute;n</a>
              </li>
            {%else%}
             <li {% if menu_selected == 'sorteosTerminados' %} class="active"{% endif %}>
                <a href="{{path('login')}}">Registrate</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Entrar <strong class="caret"></strong></a>
                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                  <!-- Login form here -->
                  <form class="form-horizontal" role="form" action="{{ path('login_check') }}" method="post">
                    <div class="row">
                      <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-1">
                          <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-1">
                          <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña" name="password" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group"> 
                        <div class="col-sm-10 col-sm-offset-1">
                          <input type="checkbox" name="remember_me"> Recuerdame
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                          <div class="col-sm-10 col-sm-offset-1">
                            <button  class="btn btn-primary btn-block">Entrar</button>
                          </div>
                        </div>
                    </div>
                  </form>
                </div>
              </li>
            {% endif %}
          </ul>
      </div>
    </header>
  <script type="text/javascript">
    $(function() {
   $("li").click(function() {
      // remove classes from all
      $("li").removeClass("active");
      // add class to the one we clicked
      $(this).addClass("active");
   });
});
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ app.request.basepath }}/js/jquery.js"></script>
<script src="{{ app.request.basepath }}/js/jquery.easing.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ app.request.basepath }}/bootstrap/js/bootstrap.min.js"></script>

    {% block content %}{% endblock %}

  </body>
</html>
