{%extends "layout_.twig.html"%}

{% block content %}
<form action="#" style="display: hidden" method="GET" id="nuevoSorteo"></form>
<div class="container" style="margin-top:50px; padding:15px; background-color: rgba(255,255,255,0.5);">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default" id="step1" style="z-index:1;">
            	<div class="panel-heading"><h3>Paso 1</h3></div>
            	<form class="form-horizontal" role="form"  action="{{ path('register') }}" method="post">
			    	<div class="row">
				  		<div class="form-group">
				    		<label for="inputUsuario" class="col-sm-3 control-label">Usuario</label>
				    		<div class="col-sm-4">
				      			<input type="text" class="form-control" id="inputUsuario" placeholder="Usuario" name = "nick" required>
				    		</div>
				  		</div>
			  		</div>
			  		<div class="row">
			  			<div class="form-group">
						    <label for="inputEmail" class="col-sm-3 control-label">Email</label>
						    <div class="col-sm-4">
						      <input type="email" class="form-control" id="inputEmail" name="email" required>
						    </div>
					  	</div>
		  			</div>
					<div class="row">
						<div class="form-group">
						    <label for="inputPassword" class="col-sm-3 control-label">Contraseña</label>
						    <div class="col-sm-4">
						    	<input type="password" class="form-control" id="inputPassword" name="password" required>
						    </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
						    <label for="inputRepeatPassword" class="col-sm-3 control-label">Repetir contraseña</label>
						    <div class="col-sm-4">
							    <input type="password" equalto="#inputPassword" class="form-control" id="inputRepeatPassword" required>
						    </div>
						</div>
					</div>
				</form>
            </div>
            <div class="panel panel-default" id="step2" style="visibility: hidden;z-index:2;">
            	<div class="panel-heading"><h3>Paso 2</h3></div>
            	<form class="form-horizontal" role="form"  action="{{ path('register') }}" method="post">
			    	<div class="row">
				  		<div class="form-group">
				    		<label for="inputUsuario" class="col-sm-3 control-label">Usuario</label>
				    		<div class="col-sm-4">
				      			<input type="text" class="form-control" id="inputUsuario" placeholder="Usuario" name = "nick" required>
				    		</div>
				  		</div>
			  		</div>
			  		<div class="row">
			  			<div class="form-group">
						    <label for="inputEmail" class="col-sm-3 control-label">Email</label>
						    <div class="col-sm-4">
						      <input type="email" class="form-control" id="inputEmail" name="email" required>
						    </div>
					  	</div>
		  			</div>
					<div class="row">
						<div class="form-group">
						    <label for="inputPassword" class="col-sm-3 control-label">Contraseña</label>
						    <div class="col-sm-4">
						    	<input type="password" class="form-control" id="inputPassword" name="password" required>
						    </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
						    <label for="inputRepeatPassword" class="col-sm-3 control-label">Repetir contraseña</label>
						    <div class="col-sm-4">
							    <input type="password" equalto="#inputPassword" class="form-control" id="inputRepeatPassword" required>
						    </div>
						</div>
					</div>
				</form>
            </div>
            <div class="panel panel-default" id="step3" style="visibility: hidden;z-index:3;">
            	<div class="panel-heading"><h3>Paso 3</h3></div>
            	<form class="form-horizontal" role="form"  action="{{ path('register') }}" method="post">
			    	<div class="row">
				  		<div class="form-group">
				    		<label for="inputUsuario" class="col-sm-3 control-label">Usuario</label>
				    		<div class="col-sm-4">
				      			<input type="text" class="form-control" id="inputUsuario" placeholder="Usuario" name = "nick" required>
				    		</div>
				  		</div>
			  		</div>
			  		<div class="row">
			  			<div class="form-group">
						    <label for="inputEmail" class="col-sm-3 control-label">Email</label>
						    <div class="col-sm-4">
						      <input type="email" class="form-control" id="inputEmail" name="email" required>
						    </div>
					  	</div>
		  			</div>
					<div class="row">
						<div class="form-group">
						    <label for="inputPassword" class="col-sm-3 control-label">Contraseña</label>
						    <div class="col-sm-4">
						    	<input type="password" class="form-control" id="inputPassword" name="password" required>
						    </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
						    <label for="inputRepeatPassword" class="col-sm-3 control-label">Repetir contraseña</label>
						    <div class="col-sm-4">
							    <input type="password" equalto="#inputPassword" class="form-control" id="inputRepeatPassword" required>
						    </div>
						</div>
					</div>
				</form>
            </div>
            <div class="panel panel-default" id="step4" style="position: absolute; top: 0; left: 0; visibility: hidden;">
            	<div class="panel-heading"><h3>Paso 4</h3></div>
            	<form class="form-horizontal" role="form"  action="{{ path('register') }}" method="post">
			    	<div class="row">
				  		<div class="form-group">
				    		<label for="inputUsuario" class="col-sm-3 control-label">Usuario</label>
				    		<div class="col-sm-4">
				      			<input type="text" class="form-control" id="inputUsuario" placeholder="Usuario" name = "nick" required>
				    		</div>
				  		</div>
			  		</div>
			  		<div class="row">
			  			<div class="form-group">
						    <label for="inputEmail" class="col-sm-3 control-label">Email</label>
						    <div class="col-sm-4">
						      <input type="email" class="form-control" id="inputEmail" name="email" required>
						    </div>
					  	</div>
		  			</div>
					<div class="row">
						<div class="form-group">
						    <label for="inputPassword" class="col-sm-3 control-label">Contraseña</label>
						    <div class="col-sm-4">
						    	<input type="password" class="form-control" id="inputPassword" name="password" required>
						    </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
						    <label for="inputRepeatPassword" class="col-sm-3 control-label">Repetir contraseña</label>
						    <div class="col-sm-4">
							    <input type="password" equalto="#inputPassword" class="form-control" id="inputRepeatPassword" required>
						    </div>
						</div>
					</div>
				</form>
            </div>
        </div>
    </div>
    <div class="row">
    	
    	<div class="col-md-8 col-md-offset-2">
            	<button type="button" class="btn btn-success" onclick="previousStep()" id="previousStep" style="float:left; visibility:hidden;">Anterior</button>
            	<button type="button" class="btn btn-success" onclick="nextStep()" id="nextStep" style="float:right;">Siguiente</button>
    	</div>
    </div>
</div>

<script type="text/javascript">
	
	function nextStep()
	{
		if($("#step1").css("visibility")=="visible"){
			$('#step1').fadeOut("fast", function(){
        		$('#step2').fadeIn("fast");
    		});
			document.getElementById('step1').style.visibility="hidden";
			document.getElementById('step2').style.visibility="visible";
			document.getElementById('previousStep').style.visibility="visible";
		}else if($("#step2").css("visibility")=="visible"){
			$('#step2').fadeOut("fast", function(){
        		$('#step3').fadeIn("fast");
    		});
			document.getElementById('step2').style.visibility="hidden";
			document.getElementById('step3').style.visibility="visible";
		}else if($("#step3").css("visibility")=="visible"){
			$('#step3').fadeOut("fast", function(){
        		$('#step4').fadeIn("fast");
    		});
			document.getElementById('step3').style.visibility="hidden";
			document.getElementById('step4').style.visibility="visible";
			document.getElementById('nextStep').innerHTML="Finalizar";
		}else{
			document.getElementById('nextStep').setAttribute('type', 'submit');
			document.getElementById('nextStep').setAttribute('form', 'nuevoSorteo');
		}
	}

	function previousStep()
	{
		if($("#step2").css("visibility")=="visible"){
			$('#step2').fadeOut("fast", function(){
        		$('#step1').fadeIn("fast");
    		});
			document.getElementById('step2').style.visibility="hidden";
			document.getElementById('step1').style.visibility="visible";
			document.getElementById('previousStep').style.visibility="hidden";
		}else if($("#step3").css("visibility")=="visible"){
			$('#step3').fadeOut("fast", function(){
        		$('#step2').fadeIn("fast");
    		});
			document.getElementById('step3').style.visibility="hidden";
			document.getElementById('step2').style.visibility="visible";
		}else if($("#step4").css("visibility")=="visible"){
			$('#step4').fadeOut("fast", function(){
        		$('#step3').fadeIn("fast");
    		});
			document.getElementById('step4').style.visibility="hidden";
			document.getElementById('step3').style.visibility="visible";
			document.getElementById('nextStep').innerHTML="Siguiente";
		}
	}

</script>

{% endblock %}