<script type="javascript">
// When the DOM is ready, run this function
$(document).ready(function() {
  //Set the carousel options
  $('#quote-carousel').carousel({
    pause: true,
    interval: 4000,
  });
});
</script>

    <div class='col-md-offset-2 col-md-8 text-center'>
    <h2>Lo que opinan de Manuel</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        
        {% if opiniones|length > 0 %}
          <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          {% for i in 1..opiniones|length %}
            <li data-target="#quote-carousel" data-slide-to="{{i}}"></li>
          {% endfor %}   
          </ol>
        {% endif %}

        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
        
        
          <!-- Quotes-->
          {% for opinion in opiniones %}
            {% include 'quote.twig.html' with {'quote':opinion} %}
          {% else %}
            <h4 class="text-center">Nadie ha opinado aún</h4>
          {% endfor %}
        
        <!-- Carousel Buttons Next/Prev -->
        {% if opiniones|length > 0 %}
          <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><span class="icon-prev"></span></a>
          <a data-slide="next" href="#quote-carousel" class="right carousel-control"><span class="icon-next"></span></a>
        {% endif %}
      </div>                          
    </div>