{% extends "layout_.twig.html" %}

{% block content %}
<div class="container" style="margin-top:50px; padding-top:15px; background-color: rgba(255,255,255,0.5);">
	<div class="row" style="margin-top:-13px">
		{% include "ratingHeader.twig.html" %}
	</div>
	<div class="row">
		{% include "opinionCarrusel.twig.html" with{'opiniones':opiniones} %}
			
	</div>
<div class="row" style="margin-top:5%">
			<h2 class="text-center">Los últimos sorteos que ha publicado Manuel</h2>
			{% for ficha in fichas %}
				{% include "fichaSorteo.twig.html" with {'ficha':ficha} %}
			{% else %}
				<center><h3>Aún no ha publicado ningún sorteo</h3></center>
			{% endfor %}
	</div>
</div>
{% endblock %}