<style type="text/css">
    .glyphicon { margin-right:5px;}
.rating .glyphicon {font-size: 22px;}
.rating-num { margin-top:0px;font-size: 54px; }
.progress { margin-bottom: 5px;}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.sr-only { margin-left: 5px;overflow: visible;clip: auto; }
</style>

<div class="row">
        
        <div class="col-xs-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                <div class="col-xs-12 col-md-4 text-center" style="padding-top:1%;">
                        <a href="{{ app.request.basepath }}/perfil/{{userSorteo.nick}}"><img class="img-circle" src="{{userSorteo.picture}}" alt="Imagen de perfil" style="width: 6em; height: 6em; border:2px solid gray;"></a>
                        <h3><a class="clearA" href="{{ app.request.basepath }}/perfil/{{userSorteo.nick}}">@{{userSorteo.nick}}</a></h3>
                        {% if userSorteo.rango == 0 %}
                            <h4>Nuevo en Sortilandia</h4>
                        {% elseif userSorteo.rango == 1 %}
                            <h4>Enterao</h4>
                        {% elseif userSorteo.rango == 2 %}
                            <h4>Asiduo de Sortilandia</h4>
                        {% elseif userSorteo.rango == 3 %}
                            <h4>Profesional de Sortilandia</h4>
                        {% elseif userSorteo.rango == 4 %}
                            <h4>Jefazo de Sortilandia</h4>
                        {% elseif userSorteo.rango == 5 %}
                            <h4>Capaz de sortear a su madre</h4>
                        {% elseif userSorteo.rango == 6 %}
                            Kenny is sick.
                        {% elseif userSorteo.rango == 7 %}
                            You killed Kenny! You bastard!!!
                        {% elseif userSorteo.rango == 8 %}
                            Kenny is sick.
                        {% elseif userSorteo.rango == 9 %}
                            You killed Kenny! You bastard!!!
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-4 text-center" style="padding-top:2%;">
                        <h1 class="rating-num">
                            {% if valoracionMedia.media is empty %}
                                0
                            {% else %}
                                {{ valoracionMedia.media |number_format(1, '.', ',')}}
                            {% endif %}
                            </h1>
                        <div class="rating">
                            {% if valoracionMedia.media is empty %}
                                {% for i in 0..4%}
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                {% endfor %}
                            {% else %}
                                {% if valoracionMedia.media < 1 %}
                                    <span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
                                {% elseif valoracionMedia.media < 2 %}
                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
                                {% elseif valoracionMedia.media < 3 %}
                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
                                {% elseif valoracionMedia.media < 4 %}
                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
                                {% elseif valoracionMedia.media < 5 %}
                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                                {% endif %}
                            {% endif %}
                            
                        </div>
                        <div>
                            <span class="glyphicon glyphicon-user"></span>{{totalValoraciones.total}}&nbsp;total
                        </div>
                        <div>
                            <p class="open" style="cursor: pointer;"><span class="glyphicon glyphicon-edit"></span> Enviar mensaje privado</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4" style="padding-top:3%;">
                        <div class="row rating-desc">
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="glyphicon glyphicon-star"></span>5
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="{%if totalValoraciones.total == 0 %} width: 0%{% else %} width: {{totalValoraciones5.total/totalValoraciones.total*100}}%{% endif %}">
                                        <span class="sr-only">{%if totalValoraciones.total == 0 %}0{% else %}{{totalValoraciones5.total/totalValoraciones.total*100}}{% endif %}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 5 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="glyphicon glyphicon-star"></span>4
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="{%if totalValoraciones.total == 0 %} width: 0%{% else %} width: {{totalValoraciones4.total/totalValoraciones.total*100}}%{% endif %}">
                                        <span class="sr-only">{%if totalValoraciones.total == 0 %}0{% else %}{{totalValoraciones4.total/totalValoraciones.total*100}}{% endif %}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 4 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="glyphicon glyphicon-star"></span>3
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="{%if totalValoraciones.total == 0 %} width: 0%{% else %} width: {{totalValoraciones3.total/totalValoraciones.total*100}}%{% endif %}">
                                        <span class="sr-only">{%if totalValoraciones.total == 0 %}0{% else %}{{totalValoraciones3.total/totalValoraciones.total*100}}{% endif %}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 3 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="glyphicon glyphicon-star"></span>2
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="{%if totalValoraciones.total == 0 %} width: 0%{% else %} width: {{totalValoraciones2.total/totalValoraciones.total*100}}%{% endif %}">
                                        <span class="sr-only">{%if totalValoraciones.total == 0 %}0{% else %}{{totalValoraciones2.total/totalValoraciones.total*100}}{% endif %}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 2 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="glyphicon glyphicon-star"></span>1
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="{%if totalValoraciones.total == 0 %} width: 0%{% else %} width: {{totalValoraciones1.total/totalValoraciones.total*100}}%{% endif %}">
                                        <span class="sr-only">{%if totalValoraciones.total == 0 %}0{% else %}{{totalValoraciones1.total/totalValoraciones.total*100}}{% endif %}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 1 -->
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
