<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
     <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ app.request.basepath }}/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script>
    $('tr').click(function() {
        document.location = $(this).attr('href');
    });
    </script>
</head>
<body>
<div class="container">
   <div class="row col-md-12 col-md-offset-2 custyle">
   <div class="col-md-5">
    <table class="table tabla table-striped custab">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Sorteo</th>
            <th>Precio</th>
        </tr>
    </thead>
    {% for i in 0..10 %}
        {% include 'fila.twig.html' %}
    {% endfor %}
    </table>
    </div>
    </div>
    </div>
</body>
</html>
    